---
layout: default
---

{{content}}

<section id="projects" class="padded centered">
  <div class="grid padded-1">
    <div class="col-4 padded-1">
      <a href="{{page.product-1_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-1_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable"> product name</h3>
              <h4 class="editable">more info</h4>
              <h5 class="editable"> price</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-2_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-2_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable"> product name </h3>
              <h4 class="editable">more info</h4>
              <h5 class="editable"> price</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-3_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-3_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable"> product name </h3>
              <h4 class="editable">more info</h4>
              <h5 class="editable"> price</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-4_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-4_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable"> product name </h3>
              <h4 class="editable">more info</h4>
              <h5 class="editable"> price</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-5_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-5_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable"> product name </h3>
              <h4 class="editable">more info</h4>
              <h5 class="editable"> price</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-6_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-6_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable"> product name </h3>
              <h4 class="editable">more info</h4>
              <h5 class="editable"> price</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-7_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-7_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable"> product name </h3>
              <h4 class="editable">more info</h4>
              <h5 class="editable"> price</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-8_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-8_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable"> product name </h3>
              <h4 class="editable"> more info</h4>
              <h5 class="editable"> price</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-9_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-9_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable"> product name </h3>
              <h4 class="editable"> more info</h4>
              <h5 class="editable"> price</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
</div></section>



<section class="grid padded featured-bg">
  <div class="col-6_sm-12 padded">
    <h2 class="editable"> faire une <span class="mon">commande</span> </h2>
    <p class="editable"> Pour l'un de ces articles ou pièces personnalisées, contactez-moi et je me ferai un plaisir de créer selon vos besoins.</p>
    <p class="editable"> <strong> Email: </strong> hello@company.com </p>
    <p class="editable"> <strong> Phone: </strong> 0412 555 555 </p>
    <p class="editable"> <strong> Facebook: </strong> fb.com/companyname </p>
  </div>
  <div class="col-6_sm-12-middle padded">
    <form class="grid-center" action="https://formspree.io/hello@company.com" method="POST">
      <div class="col-6_sm-12">
        <input type="text" name="name" placeholder="Votre Nom" />
      </div>
      <div class="col-6_sm-12">
        <input type="email" name="_replyto" placeholder="Votre Email" />
      </div>
      <div class="col-12">
        <textarea placeholder="Votre Message"></textarea>
        <input type="submit" value="Send" class="button" />
      </div>
    </form>
  </div>
</section>
