---
layout: default
---

{{content}}

<section id="projects" class="padded centered">
  <div class="grid padded-1">
    <div class="col-4 padded-1">
      <a href="{{page.product-1_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-1_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable">
                Poesie&nbsp;
              </h3>
              <h4 class="editable">
                encre noir &amp; papier d'or
              </h4>
              <h5 class="editable">
                price
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-2_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-2_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable">
                La voie enso&nbsp;
              </h3>
              <h4 class="editable">
                Enso voie&nbsp;
              </h4>
              <h5 class="editable">
                price
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-3_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-3_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable">
                Mandala Emotion
              </h3>
              <h4 class="editable">
                au crayon simplement&nbsp;
              </h4>
              <h5 class="editable">
                price
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-4_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-4_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable">
                poesie&nbsp;
              </h3>
              <h4 class="editable">
                Encre noire&nbsp; &amp; feuille d'or
              </h4>
              <h5 class="editable">
                price
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-5_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-5_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable">
                Harmonie&nbsp;
              </h3>
              <h4 class="editable">
                technique mix&nbsp; sur papier naturel
              </h4>
              <h5 class="editable">
                price
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-6_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-6_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable">
                Enso less&nbsp;
              </h3>
              <h4 class="editable">
                fusain &amp; mix sur papier naturel
              </h4>
              <h5 class="editable">
                price
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-7_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-7_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable">
                spirit stone&nbsp;
              </h3>
              <h4 class="editable">
                technique mix sur papier naturel&nbsp;
              </h4>
              <h5 class="editable">
                price
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-8_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-8_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable">
                Lotus&nbsp;
              </h3>
              <h4 class="editable">
                Encre noir &amp; technique mix&nbsp;
              </h4>
              <h5 class="editable">
                price
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 padded-1">
      <a href="{{page.product-9_image}}">
        <div class="hover-container border" style="background-image:url('{{page.product-9_image}}');">
          <div class="hover-overlay">
            <div class="hover-inner product">
              <h3 class="editable">
                Bon mantra&nbsp;
              </h3>
              <h4 class="editable">
                mantra manuscrit&nbsp; &amp; technique mix&nbsp;
              </h4>
              <h5 class="editable">
                price
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>
</div></section>



<section class="grid padded featured-bg">
  <div class="col-6_sm-12 padded">
    <h2> <span class="editable"> faire une </span><span class="editable mon">commande</span> </h2>
    <p class="editable">
      Pour l'un de ces articles ou pi&egrave;ces personnalis&eacute;es, contactez-moi et je me ferai un plaisir de cr&eacute;er selon vos besoins.
    </p>
    <p class="editable">
      <strong> Email: </strong> hello@company.com
    </p>
    <p class="editable">
      <strong> Phone: </strong> 0412 555 555
    </p>
    <p class="editable">
      <strong> Facebook: </strong> fb.com/companyname
    </p>
  </div>
  <div class="col-6_sm-12-middle padded">
    <form class="grid-center" action="/success.html" method="POST">
      <div class="col-6_sm-12">
        <input type="text" name="name" placeholder="Votre Nom" />
      </div>
      <div class="col-6_sm-12">
        <input type="email" name="_replyto" placeholder="Votre Email" />
      </div>
      <div class="col-12">
        <textarea placeholder="Votre Message"></textarea>
        <input type="hidden" name="_to" value="vanchang1309@hotmail.com">
        <input type="text" name="_gotcha" style="display: none;">
        <input type="submit" value="Send" class="button" />
      </div>
    </form>
  </div>
</section>
